# Креды для входа в веб-интерфейс
KASKAD_WEB_USER=admin
KASKAD_WEB_PASS=ОБЯЗАТЕЛЬНО_СМЕНИТЬ

# Локальный ам. сервер (где живёт WebUI)
LOCAL_HOST=ams1
LOCAL_IP=127.0.0.1

# Порт и интерфейс веб-интерфейса
KASKAD_HOST=0.0.0.0
KASKAD_PORT=8088

# SSH-ключ для доступа к остальным серверам
KASKAD_SSH_KEY=/root/.ssh/id_ed25519

# Путь к JSON конфигу
KASKAD_SERVERS_JSON=/etc/wireguard/ru-servers.json
